.weather {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  max-width: 100%;

  margin: 0 auto;

  &_placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    height: 100%;
  }

  & &__current {
    margin: 1rem auto 0;

    background-color: #ddd;
    border-radius: 1rem;
  }

  & &__card {
    min-width: 300px;

    margin: .5rem;

    border: 1px solid #ddd;
  }

  &__list {
    display: flex;
    flex-direction: row;

    overflow-x: auto;
    overflow-y: visible;

    margin: 1rem 0;
    padding-bottom: .5rem;

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
    
    &::-webkit-scrollbar-button {
      display: block;
  
      width: 5px;
      height: 0px;
    }
    
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #E4E3DE;
    }

    @media only screen and (max-width: 500px) {
      flex-direction: column;
      align-items: baseline;

      margin-bottom: 1rem;
      padding-bottom: 0;
    }
  }

  @media only screen and (max-width: 500px) {
    justify-content: flex-start;
    align-items: center;

    & &__card {
      width: 100%;
      margin: 0;
    }
  }
}